<!DOCTYPE html>
<html>
<head>
    <title>Статьи сотрудника</title>
    <style>
        .green-cell { background-color: #b6fcb6; }
        .gray-cell { background-color: #888888; color: #fff; }
        table, th, td { border: 1px solid #888; border-collapse: collapse; padding: 5px; }
    </style>
</head>
<body>
    <h1>Статьи сотрудника {{ fio }}</h1>
	<table>
		<tr>
			<th>№</th>
			<th>ID статьи</th>
			<th>Название статьи</th>
			<th>Год</th>
		</tr>
		{% for id, title, applied, year_pub in articles %}
		<tr class="{% if applied %}gray-cell{% else %}green-cell{% endif %}">
			<td>{{ loop.index }}</td>
			<td>{{ id }}</td>
			<td>
				<a href="{{ url_for('article_detail', article_id=id, employee_id=employee_id, department_id=department_id) }}">{{ title }}</a>
			</td>
			<td>{{ year_pub }}</td>
		</tr>
		{% endfor %}
	</table>
    <a href="{{ url_for('department_employees', department_id=department_id) }}">Назад к сотрудникам подразделения</a>
    <br>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>